.button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  color: white;
  background: linear-gradient(15deg, #0f5078, #1ea7fd);
  font-size: 14px;
  padding: 11px 20px;
  border-radius: 12px;
  background: linear-gradient(225deg, #2e2e2e, #373737);
  box-shadow: -7px 7px 13px #2a2a2a,
    7px -7px 13px #3c3c3c;
}

.button:active {
  border-radius: 12px;
  background: #333333;
  box-shadow: inset -7px 7px 13px #2a2a2a,
    inset 7px -7px 13px #3c3c3c;
}